div.paralax.paralax-1 
  img(src="https://22b375f28cb4a3978d5e-76f43cbbcaa8592c8e9d0bfe87e3817b.ssl.cf2.rackcdn.com/assets/dod/parallax-background-956db030c5d100efdc52bf94623c5dde9ce600adc8af27759ee88f367e1fce50.png", alt="")
div.paralax.paralax-2
  img(src="https://22b375f28cb4a3978d5e-76f43cbbcaa8592c8e9d0bfe87e3817b.ssl.cf2.rackcdn.com/assets/dod/parallax-midground-96869952b6d271c3028922cf1295e8bae5d9e74cb57d1e8d7db860c449dd5be0.png", alt="")
div.paralax.paralax-3
  img(src="https://22b375f28cb4a3978d5e-76f43cbbcaa8592c8e9d0bfe87e3817b.ssl.cf2.rackcdn.com/assets/dod/parallax-foreground-7002a436bbd2e90ea04efc893a2186ed125553befc6c51890574ab9d248bf2b6.png", alt="")
section
  h2 Paralax with variables